<!DOCTYPE html>
<html>
<head>
  	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p>{{ error_message }}</p>
</body>
</html>
