<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>MY MOVIES WEB-APP</title>
</head>
<body>
    <section class="main-page-header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/users">USERS</a></li>
                </ul>
            </div>
        </nav>
	</section>
    <div class="text-box">
         <h1>Welcome to my movies Web-App</h1>
         <p>In this app each user can keep track of their favorite movies.<br>
             You can add and delete movies, and also edit the info for each movie!</p>
         <a href="/add_user" class="new-user-btn">If you are a new user, please click here.</a>

    </div>
</body>
</html>