<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Login - MovieWeb App</title>
</head>

<body>
    <header>
        <h1>MY MOVIES WEB-APP</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/users">USERS</a></li>
                {% if current_user.is_authenticated %}
                <li><span class="welcome-text">Welcome, {{ current_user.name }}!</span><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="notification">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <section class="intro">
            <h1>Login for {{ user_name }}</h1>
            <form action="" method="POST">
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <input type="submit" value="Login" class="btn">
            </form>
        </section>
    </main>
    <script>
        // Function to remove flashed messages after a certain duration (in milliseconds)
        function removeFlashMessages() {
            var flashMessages = document.querySelectorAll(".flash-message");
            flashMessages.forEach(function (message) {
                setTimeout(function () {
                    message.remove();
                }, 5000); // Adjust the duration (in milliseconds) to change how long the messages are displayed
            });
        }

        // Call the function to remove flashed messages after the page loads
        document.addEventListener("DOMContentLoaded", function () {
            removeFlashMessages();
        });
    </script>
</body>

</html>
