<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Movies - MovieWeb App</title>
</head>
<body>
    <header>
        <h1>MY MOVIES WEB-APP</h1>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/users">USERS</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="welcome-text">Welcome, {{ current_user.name }}! <a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="center-content">
        <h1 class="big-heading">{{ username }}'s Favorite Movies</h1>
        <!-- Add Movie Form -->
        <div class="add-movie-form">
            <form action="/users/{{ user_id }}" method="post">
                <label for="name">Add New Movie:</label>
                <input type="text" id="name" name="name" placeholder="🔍 Movie Name" required>
                <input type="submit" value="Add Movie" class="btn">
            </form>
        </div>

        <!-- Movies Grid -->
        <div class="movies-container">
            {% for movie_id, movie_info in movies.items() %}
                <div class="movie-card">
                    <div class="movie-poster">
                        <img src="{{ movie_info['poster'] }}" alt="{{ movie_info['name'] }} Poster">
                    </div>
                    <div class="movie-info">
                        <h3>{{ movie_info['name'] }}</h3>
                        <p>Rating: {{ movie_info['rating'] }}  (My Rating: {{ movie_info['my_rating'] }})</p>
                        <p>Director: {{ movie_info['director'] }}</p>
                        <p>Release Year: {{ movie_info['year'] }}</p>
                        <p>My review: {{ movie_info['review'] }}</p>
                        <div class="action-form">
                            <form action="/users/{{ user_id }}/delete_movie/{{ movie_id }}" method="post">
                                <input type="submit" class="btn" value="Delete" onclick="return confirmDelete();">
                            </form>
                        </div>
                        <div class="action-form">
                            <form action="/users/{{ user_id }}/update_movie/{{ movie_id }}" method="get">
                                <input type="submit" class="btn" value="Update">
                            </form>
                        </div>
                        <div class="action-form">
                            <form action="/users/{{ user_id }}/add_review/{{ movie_id }}" method="get">
                                <input type="submit" class="btn" value="Add/Edit Review">
                            </form>
                        </div>
                        <div class="action-form">
                            <form action="/movie_reviews/{{ movie_id }}" method="get">
                                <input type="submit" class="btn" value="View Reviews">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <script>
        function removeFlashMessages() {
            var flashMessages = document.querySelectorAll(".flash-message");
            flashMessages.forEach(function (message) {
                setTimeout(function () {
                    message.remove();
                }, 5000);
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            removeFlashMessages();
        });

        function confirmDelete() {
            return confirm('Are you sure you want to delete this movie?');
        }
    </script>
</body>
</html>
