<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Users - MovieWeb App</title>
</head>
<body>
    <header>
        <h1>MY MOVIES WEB-APP</h1>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/users">USERS</a></li>
                    {% if current_user.is_authenticated %}
                        {% set base_url = "/users/" %}
                        {% set path = current_user.id %}
                        <li><a href="{{ base_url ~ path }}">MOVIES</a></li>
                        <li>Welcome, {{ current_user.name }}! <a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="page-display">
        <div id="flash-messages" class="flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <h1 class="big-heading">Users</h1>
        <ul class="user-list">
            {% for user in users %}
                <li><a class="user-link" href="/login/{{ user.id }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="/add_user" class="btn">New User? Click here</a>
    </section>
</body>
<script>
    // Function to remove flashed messages after a certain duration (in milliseconds)
    function removeFlashMessages() {
        var flashMessages = document.querySelectorAll(".flash-message");
        flashMessages.forEach(function (message) {
            setTimeout(function () {
                message.remove();
            }, 5000);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        removeFlashMessages();
    });
</script>
</html>
