<!DOCTYPE html>
<html>
<head>
  <title>Users - MovieWeb App</title>
</head>
<body>
  <!-- Flash Messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h1>Users</h1>
  <ul>
    {% for user_id, info in users.items() %}
    <li><a href="/users/{{ user_id }}">{{ info['name'] }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>